body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    display: flex;
    height: 100vh;
    font-family: "montserrat", sans-serif;
}

.imageContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

.textContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-right: 10%;
}

.textContainer div {
    margin-bottom: 20px;
}

a {
    font-size: 24px;
    margin-bottom: 10px;
    color: #10403B; 
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #75BFAA; 
    background-color: #10403B;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}


p {
    margin: 5px 0;
    font-size: 1rem;
}

.box5 p {
    font-weight: 600;
}

.box7 p {
    font-weight: 600;
    font-size: 1.2rem;
}

.return img {
    width: 50%;
    height: auto;
    margin: 30px;
}

.logo-link {
    padding: 0;
}

.logo-link:hover {
    color: initial;
    background-color: initial;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageContainer,
    .textContainer {
        width: 50%;
    }

    .imageContainer {
        margin-bottom: 20px;
        padding-left: 25%;
    }

    .textContainer {
        padding-left: 25%;
    }
}