body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.projectContainer {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 60px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid #10403B 0.4rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

.textContainer {
    text-align: center;
    color: #10403B; 
    margin: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "montserrat", sans-serif;
}

p {
    margin: 5px 0;
    font-family: "montserrat", sans-serif;
    font-size: 1rem;
}

a {
    font-size: 24px;
    margin-bottom: 10px;
    color: #10403B; 
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #75BFAA; 
    background-color: #10403B;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.return {
    position: absolute;
    top: 20px;
    left: 20px;
}

.return img {
    width: 40%;
    height: auto;
}

.logo-link {
    padding: 0;
}

.logo-link:hover {
    color: initial;
    background-color: initial;
    padding: 0;
}