@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

body {
	background-color: black;
	color: #00ff99;
	font-family: 'Press Start 2P', cursive;
	background-image: radial-gradient(circle at center, #222 0%, #000 100%);
}

.neon-text {
	text-shadow:
		0 0 5px #0ff,
		0 0 10px #0ff,
		0 0 20px #0ff;
}

.blink {
	animation: blinkAnim 1.2s step-start infinite;
}

@keyframes blinkAnim {
	50% {
		opacity: 0;
	}
}

.animate-fadeOut {
	animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.2);
	}
}
